/*
 * Topography, yo!
 *
 * Apply the map background via base64 and relevant colors where we need 'em.
 */

.bs-docs-home,
.bs-header {
  color: #eac3ab;
  background-color: #cc5600;
}

.pane {
   height: 93vh;
}

.dark {
   background: rgba(0, 0, 0, 0.75);
   color: white;
   margin-bottom: 15px;
   width: 100%;
}

#resume {
   color:white;
}
