<section class="row bs-docs-section purp pane" id="contact">
<div class="col-xs-12">
  <div class="row">
      <div class="contactSection col-sm-12 text-center">
          <div class="row">
            <h1 class="talk">Let's talk.</h1>
            <a href="https://www.facebook.com/alisowski">
                <img src="{{assets}}/css/BW/largeMAIL.png" class="mail socialLink"></img>
            </a>
          </div>
          <div class="">
            <div class="contactList row">
              <div class="col-xs-4 col-sm-5 buffer">
                <div class="facebook socialLink">
                  <a href="https://www.facebook.com/alisowski"></a>
                </div>
              </div>
           
              <div class="col-xs-4 col-sm-2">
                <div class="twitter socialLink">
                  <a href="https://twitter.com/HipsterSmoothie"></a>
                </div>
              </div>
              
              <div class="col-xs-4 col-sm-5">
                <div class="linkedin socialLink">
                  <a href="https://www.linkedin.com/profile/view?id=272176840"></a>
                </div>
              </div>
              
            </div>
          </div>  
      </div>
  </div>
  <div alt="My Face" class="row smoothie"></div>
</div>
</section>
