<section class="bs-docs-section grey pane" id="contact">
<div class="container">
  <div class="row">
      <div alt="My Face" class="col-xs-12 col-sm-4 col-sm-offset-1 smoothie"></div>
      <div class="col-sm-5 col-sm-offset-1">
          <h1>Let's talk.</h1>
          <a href="https://www.facebook.com/alisowski" class col-sm-1>
              <img src="{{assets}}/css/BW/largeMAIL.png" class="mail socialLink"></img>
          </a>
      </div>
  </div>
  <div class="row text-center">
      <ul class="contactList">
          <li>
              <a href="https://www.facebook.com/alisowski">
                  <div class="facebook socialLink"></div>
              </a>
          </li>
          <li>
              <a href="https://twitter.com/HipsterSmoothie">
                  <div class="twitter socialLink"></div>
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/profile/view?id=272176840">
                  <div class="linkedin socialLink"></div>
              </a>
          </li>
      </ul>
  </div>
</div>
</section>
