<section class="row bs-docs-section yellow pane" id="portfolio">
    <div class="col-xs-12">
        <div class="page-header row">
            <div class="col-xs-2">
                <h1 class="paneTitle">Portfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 portfolioBlock">
                        <h2 class="portfolioTitle text-center row">It's Deductible Online</h2>
                        <img src="{{assets}}/ido.png" alt="It's Deductible Online" class="img-square col-xs-12 portfolioImage">
                        <p>
                            Implemented the redesign of IDO. Built the frontend using Angular, Gulp, and Bootstrap and integrated with existing TurboTax applications.
                        </p>
                        <ul>
                            <li>Tracks charitable donations all year round</li>
                            <li>Offers accurate values for your donated items</li>
                            <li>Helps reduce your risk of an audit</li>
                            <li>Provides fast answers to donation questions</li>
                        </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="https://turbotax.intuit.com/personal-taxes/itsdeductible/">Project Page</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 portfolioBlock">
                        <h2 class="portfolioTitle text-center">scTunes</h2>
                        <img src="{{assets}}/sctunes.png" alt="It's Deductible Online" class="img-square col-xs-12 portfolioImage">
                        <p>
                            Newly reimagined front end for soundcloud. I was tired of using their slow interface, so I built a faster one! This project uses Meteor.js and Less.
                        </p>
                        <ul>
                            <li>Quickly view and organize your favorite tracks</li>
                            <li>Add to playlist in bulk</li>
                            <li>Create a Queue on the fly</li>
                            <li>Improved shuffling</li>
                        </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="https://github.com/hipstersmoothie/sctunes.meteor">Github</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="http://sctunes.meteor.com/">Product Page</a>
                            </button>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 portfolioBlock">
                        <h2 class="portfolioTitle text-center">MyTurboTax</h2>
                        <img src="{{assets}}/tax.png" alt="It's Deductible Online" class="img-square col-xs-12 portfolioImage">
                        <p>
                            Maintained and extended login portal for TurboTax related products. This project uses Backbone.js, Less, Handlebars, Maven, and Tomcat.
                        </p>
                        <ul>
                            <li>Main Login Portal for TurboTax users</li>
                            <li>Offers year round tracking of taxes</li>
                            <li>Helps user know when their refund will come</li>
                            <li>Shows a user all their past orders from TurboTax via the Tax Timeline</li>
                        </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="https://turbotax.intuit.com/">Product Page</a>
                            </button>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 portfolioBlock">
                        <h2 class="portfolioTitle text-center">KikBak.tv</h2>
                        <img src="{{assets}}/kikbak.png" alt="It's Deductible Online" class="img-square col-xs-12 portfolioImage">
                        <p>
                            An easy way to make real-time playlists, with friends. Allows every on in a room to have a say in what gets played.
                        </p>
                        <ul>
                            <li>Easily browse, create, and join rooms</li>
                            <li>Theater view - current video playlist</li>
                            <li>Editor view - add videos quickly to the playlist</li>
                            <li>Built with Meteor.js, MongoDB and Less</li>
                        </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="https://github.com/hipstersmoothie/KikBak.tv">Github</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="blackText" href="http://kikbak.tv/">Project Page</a>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
