<section class="bs-docs-section pane blue" id="resume">
  <div class="container">
     <div class="page-header">
       <h1>Resume</h1>
     </div>
     <div class="col-md-6">
        <section class="dark container">
           <h2>Education</h2>
           <p class="lead">
              California Polytechnic State University, San Luis Obispo<br>
              Bachelor and Master's of Science, Computer Engineering<br>
              Expected Graduation June 2016<br>
              - Senior Standing<br>
              - 3.2 GPA<br>
           </p>
        </section>

        <section class="dark container">
           <h2>Relevant Coursework</h2>
           <ul class="lead">
              <li>CSC357 Systems Programming</li>
              <li>CSC365 Introduction to Databases</li>
              <li>CSC430 Programming Languages</li>
              <li>CSC453 Operating System</li>
              <li>CSC308/309 Software Development</li>
              <li>CSC464 Introduction to Networks</li>
           </ul>
        </section>
     </div>
     <div class="col-md-6">
        <section class="dark container">
           <article class="lead">
           <h2>Past Employment</h2>
              <b>Intuit</b> | San Diego, CA June 2014 - September 2014<br>
              Software Development Intern<br>
              - Helped to develop a new front-end for It's Deductible Online using Angular and Grunt<br>
           </article>
           <article class="lead">
              <b>Intuit</b> | San Diego, CA June 2013 - September 2013<br>
              Software Development Intern<br>
              - Developed parts of the myTurboTax experience that reaches millions of users<br>
           </article>
           </article>
           <article class="lead">
              <b>Moon Valley Software</b> | San Luis Obispo, CA October 2012 - December 2012<br>
              Subscription Editor/ Development Intern<br>
              - Helped with database maintenance and operations<br>
              - Built page scrappers for multiple business listing websites<br>
           </article>
        </section>
     </div>
  </div>
</section>
