<section class="row bs-docs-section pane blue" id="resume">
  <div class="col-xs-12">
    <div class="page-header row">
        <div class="col-xs-2">
            <h1 class="paneTitle">Resume</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <section class="row">
              <div class="dark col-xs-10 col-xs-offset-1">
               <h2>Education</h2>
                   <div class="lead">
                      <p>
                          California Polytechnic State University,<br>        San Luis Obispo<br>
                          Bachelor/Masters of Science,<br>Computer Science
                          <ul>
                              <li>Expected Graduation June 2016</li>
                              <li>Senior Standing</li>
                              <li>3.2 GPA</li>
                          </ul>
                   </div>
               </div>
            </section>

            <section class="row">
                <div class="dark col-xs-10 col-xs-offset-1">
                   <h2>Relevant Coursework</h2>
                   <ul class="lead">
                      <li>CSC357 Systems Programming</li>
                      <li>CSC365 Introduction to Databases</li>
                      <li>CSC430 Programming Languages</li>
                      <li>CSC453 Operating System</li>
                      <li>CSC308/309 Software Development</li>
                      <li>CSC464 Introduction to Networks</li>
                   </ul>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="row">
                <div class="dark col-xs-10 col-xs-offset-1">
                   <article class="lead">
                   <h2>Past Employment</h2>
                      Software Development Intern @ <b>Intuit</b>
                      <br>
                      <ul>
                          <li>Developed new front end web architecture for It's Deductible Online (IDO)</li>
                          <li>Simplified user interaction with existing back end</li>
                      </ul>
                   </article>
                   <article class="lead">
                      Software Development Intern @ <b>Intuit</b><br>
                      <ul>
                          <li>Implemented the tax timeline on myTurboTax seen by millions of users</li>
                          <li>Worked in an agile SCRUM environment</li>
                      </ul>
                   </article>
                   </article>
                   <article class="lead">
                      Subscription Editor/ Development Intern @ <b>Moon Valley Software</b><br>
                      <ul> 
                          <li>Maintained database and operations</li>
                          <li>Built page scrappers for multiple business listing websites</li>
                      </ul>
                   </article>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <h1 class="paneTitle">Skills</h1>
        </div>
    </div>
    <div class="row">
        <ul class="tags col-xs-10 col-xs-offset-1">
           <li><a href="#" onclick="return false;">Javascript</a></li>
           <li><a href="#" onclick="return false;">HTML/CSS</a></li>
           <li><a href="#" onclick="return false;">MongoDB</a></li>
           <li><a href="#" onclick="return false;">Backbone.js</a></li>
           <li><a href="#" onclick="return false;">Angular.js</a></li>
           <li><a href="#" onclick="return false;">Meteor.js</a></li>
           <li><a href="#" onclick="return false;">Grunt/Gulp</a></li>
           <li><a href="#" onclick="return false;">Handlebars</a></li>
           <li><a href="#" onclick="return false;">Java</a></li>
           <li><a href="#" onclick="return false;">C</a></li>
           <li><a href="#" onclick="return false;">MySQL</a></li>
           <li><a href="#" onclick="return false;">Python</a></li>
           <li><a href="#" onclick="return false;">Ruby</a></li>
        </ul>
    </div>
 </div>
</section>
