<section class="bs-header pane" id="content">
   <br>
   <br>
   <div class="row">
      <img src="{{assets}}/face.jpg" alt="My Face" class="img-circle col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="col-sm-6">
         <br>
         <br>
         <h1>{{title}}</h1>

         {{! this 'default' helper uses the first variable if it exists, otherwise the second}}
         <p class="blurb">{{default lead description}}</p>

         <h2>Get to know me:</h2>
         <ul class="contactList">
             <li>
                 <a href="https://www.facebook.com/alisowski">
                     <div class="facebook socialLink"></div>
                 </a>
             </li>
             <li>
                 <a href="https://soundcloud.com/lisowski">
                     <div class="soundcloud socialLink"></div>
                 </a>
             </li>
             <li>
                 <a href="https://twitter.com/HipsterSmoothie">
                     <div class="twitter socialLink"></div>
                 </a>
             </li>
             <li>
                 <a href="https://github.com/hipstersmoothie/">
                     <div class="github socialLink"></div>
                 </a>
             </li>
             <li>
                 <a href="https://www.linkedin.com/profile/view?id=272176840">
                     <div class="linkedin socialLink"></div>
                 </a>
             </li>
         </ul>
      </div>
   </div>
</section>
